@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
}

.Sports {
  background-image: url("../public/img/ball.png");
}

.Films {
  background-image: url("../public/img/film.png");
}

.Science {
  background-image: url("../public/img/nature.png");
}

.Mathematics {
  background-image: url("../public/img/math.png");
}

.Computers {
  background-image: url("../public/img/computer.png");
}

.History {
  background-image: url("../public/img/history.png");
}

.lost {
  background-image: url("../public/img/lost.png");
}

.win {
  background-image: url("../public/img/win.png");
}

.draw {
  background-image: url("../public/img/draw.png");
}

nav {
  background-color: #1d2951;
}

.starter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1d2951;
}
.starter h2 {
  color: #f8f8ff;
  font-size: 40px;
}

.starter__img {
  width: 500px;
  height: auto;
  background: rgba(116, 108, 192, 0.3);
  border-radius: 100px/50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.starter__img img {
  width: 200px;
  height: auto;
}

.starter--btn {
  font-size: 20px;
  background-color: #0abab5;
  border-radius: 18px;
  padding: 5px 20px;
}
.starter--btn a {
  text-decoration: none;
  color: #1d2951;
}

.categories {
  flex-grow: 1;
  background-color: #1d2951;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.categories .categories__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
.categories .categories__icons .categories__box {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 14px;
  width: 170px;
  height: 170px;
  background-color: rgba(116, 108, 192, 0.3);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
}
.categories .categories__icons a {
  color: #f8f8ff;
  text-decoration: none;
}
.categories .categories__list label {
  font-size: 20px;
  color: #0abab5;
  margin-right: 10px;
}
.categories .categories__list select {
  font-size: 18px;
}

.questions {
  flex-grow: 1;
  background-color: #1d2951;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.questions .questions__category {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
}
.questions .questions__text h5 {
  color: #0abab5;
  font-size: 16px;
}
.questions .questions__text h2 {
  font-size: 40px;
  margin: 0 auto;
  color: #e6e6fa;
  margin-bottom: 58px;
  width: 70%;
}
.questions .questions__btns {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.questions .questions__btns .questions__answers button {
  font-size: 16px;
  width: 220px;
  height: 110px;
  border-radius: 12px;
  color: #1d2951;
  box-shadow: #a9a9a9 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.questions .questions__btns .questions__answers .answer--btn {
  background-color: #e6e6fa;
}
.questions .questions__btns .questions__answers .correct--btn {
  background-color: #00a550;
}
.questions .questions__btns .questions__answers .wrong--btn {
  background-color: #fd5e53;
}
.questions .questions__navigation {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.questions .questions__navigation button {
  padding: 0px 8px;
  min-width: 70px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 35px;
  border-radius: 9px;
}

.loader__wrap {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2951;
}
.loader__wrap .loader {
  text-align: center;
  color: #0abab5;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
.results {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1d2951;
  color: #e6e6fa;
}
.results h2 {
  font-size: 48px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  background-size: 150px auto;
  height: 250px;
}
.results .results__text h4 {
  color: #0abab5;
}
.results .results__text h3 {
  font-size: 34px;
}
.results a {
  text-decoration: none;
  color: #0abab5;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results #replay--icon {
  font-size: 50px;
}

/* Footer  */
footer {
  font-size: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #1d2951;
}
footer #developed {
  color: #f8f8ff;
}
footer #developed span {
  color: #0abab5;
}
footer .footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5%;
}
footer .footer__info #info {
  font-size: 16px;
  background-color: #007bff;
  color: #f8f8ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer__info #info:hover {
  background-color: #0056b3;
}

/* Modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #f8f8ff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-box h2 {
  margin-top: 0;
}

.modal-box p {
  margin: 10px 0;
}

.close-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #a71d2a;
}/*# sourceMappingURL=global.css.map */