* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #1d2951;
}

.starter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1d2951;
}
.starter h2 {
  color: #f8f8ff;
  font-size: 40px;
}

.starter__img {
  width: 500px;
  height: auto;
  background: rgba(116, 108, 192, 0.3);
  border-radius: 100px/50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.starter__img img {
  width: 200px;
  height: auto;
}

.starter--btn {
  font-size: 20px;
  background-color: #0abab5;
  border-radius: 18px;
  padding: 5px 20px;
}
.starter--btn a {
  text-decoration: none;
  color: #1d2951;
}

.categories {
  flex-grow: 1;
  background-color: #1d2951;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.categories .categories__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.categories .categories__icons .categories__box {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 14px;
  width: 150px;
  height: 150px;
  background-color: rgba(116, 108, 192, 0.3);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
}
.categories .categories__icons a {
  color: #f8f8ff;
  text-decoration: none;
}
.categories .categories__icons .Sports {
  background-image: url("../public/img/ball.png");
}
.categories .categories__icons .Films {
  background-image: url("../public/img/film.png");
}
.categories .categories__icons .Science {
  background-image: url("../public/img/nature.png");
}
.categories .categories__icons .Mathematics {
  background-image: url("../public/img/math.png");
}
.categories .categories__icons .Computers {
  background-image: url("../public/img/computer.png");
}
.categories .categories__icons .History {
  background-image: url("../public/img/history.png");
}

.loader__wrap {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2951;
}
.loader__wrap .loader {
  text-align: center;
  color: #0abab5;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
.answer--btn {
  background-color: #d3d3d3;
}

.correct--btn {
  background-color: #00a550;
}

.wrong--btn {
  background-color: #fd5e53;
}

/* Footer styling */
footer {
  font-size: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #1d2951;
}
footer #developed {
  color: #f8f8ff;
}
footer #developed span {
  color: #0abab5;
}
footer .footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5%;
}
footer .footer__info #info {
  font-size: 16px;
  background-color: #007bff;
  color: #f8f8ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer__info #info:hover {
  background-color: #0056b3;
}

/* Modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #f8f8ff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-box h2 {
  margin-top: 0;
}

.modal-box p {
  margin: 10px 0;
}

.close-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #a71d2a;
}/*# sourceMappingURL=global.css.map */