@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
}

.Sports {
  background-image: url("../public/img/ball.png");
}
.Films {
  background-image: url("../public/img/film.png");
}
.Science {
  background-image: url("../public/img/nature.png");
}
.Mathematics {
  background-image: url("../public/img/math.png");
}
.Computers {
  background-image: url("../public/img/computer.png");
}
.History {
  background-image: url("../public/img/history.png");
}
.lost {
  background-image: url("../public/img/lost.png");
}
.win {
  background-image: url("../public/img/win.png");
}
.draw {
  background-image: url("../public/img/draw.png");
}
.Games {
  background-image: url("../public/img/games.png");
}
.General {
  background-image: url("../public/img/general.png");
}
.Vehicles {
  background-image: url("../public/img/vehicle.png");
}
.Music {
  background-image: url("../public/img/music.png");
}
.Animals {
  background-image: url("../public/img/animals.png");
}

// Nav
nav {
  background-color: $dark-blue;

  .nav--btn {
    color: $purple-white;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;

    a {
      color: $purple-white;
      margin-right: 5px;
      text-decoration: none;
    }
  }
}

// Starter
.starter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-blue;

  h2 {
    color: $white;
    font-size: 40px;
  }
}

.starter__img {
  width: 500px;
  height: auto;
  background: rgba($purple, 0.3);
  border-radius: 100px / 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  img {
    width: 200px;
    height: auto;
  }
}

.starter--btn {
  font-size: 20px;
  background-color: $cyan;
  border-radius: 18px;
  padding: 5px 20px;

  a {
    text-decoration: none;
    color: $dark-blue;
  }
}

// Categories

.categories {
  flex-grow: 1;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .categories__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;

    .categories__box {
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      font-size: 14px;
      width: 170px;
      height: 170px;
      background-color: rgba($purple, 0.3);
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: auto;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .categories__list {
    label {
      font-size: 20px;
      color: $cyan;
      margin-right: 10px;
    }

    select {
      font-size: 18px;
    }
  }
}

//Questions
.questions {
  flex-grow: 1;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .questions__category {
    margin: 0 auto;
    width: 80%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
  }

  .questions__text {
    h5 {
      color: $cyan;
      font-size: 16px;
    }

    h2 {
      font-size: 40px;
      margin: 0 auto;
      color: $purple-white;
      margin-bottom: 58px;
      width: 70%;
    }
  }

  .questions__btns {
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;

    .questions__answers {
      button {
        font-size: 16px;
        width: 220px;
        height: 110px;
        border-radius: 12px;
        color: $dark-blue;
        box-shadow: $dark-grey 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      }

      .answer--btn {
        background-color: $purple-white;
      }

      .correct--btn {
        background-color: $green;
      }

      .wrong--btn {
        background-color: $red;
      }
    }
  }

  .questions__navigation {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    button {
      padding: 0px 8px;
      min-width: 70px;
      max-width: fit-content;
      height: 35px;
      border-radius: 9px;
    }
  }
}

// --Loader--
.loader__wrap {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-blue;

  .loader {
    text-align: center;
    color: $cyan;
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: l21 0.5s infinite alternate linear;
  }
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

//Results
.results {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $dark-blue;
  color: $purple-white;
  h2 {
    font-size: 48px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto;
    background-size: 150px auto;
    height: 250px;
  }

  .results__text {
    h4 {
      color: $cyan;
    }

    h3 {
      font-size: 34px;
    }
  }

  a {
    text-decoration: none;
    color: $cyan;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #replay--icon {
    font-size: 50px;
  }
}

/* Footer  */
footer {
  font-size: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: $dark-blue;

  #developed {
    font-size: 14px;
    color: $white;

    span {
      color: $cyan;
    }
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5%;
    font-size: 14px;
    color: $cyan;

    button {
      background-color: transparent;
      border: none;

      #info {
        font-size: 24px;
        color: $white;
        cursor: pointer;
      }

      #info:hover {
        color: $cyan;
      }
    }
  }
}

/* Modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: $white;
  padding: 20px;
  width: 390px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;

  .close__btn {
    display: flex;
    justify-content: end;
  }
}

.modal-box h2 {
  margin-top: 0;
  font-size: 24px;
}

.modal-box p {
  font-size: 22px;
  margin: 10px 0;
}

.close-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: $cyan;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #a71d2a;
  color: $white;
  border-radius: 5px;
}

// media queries
@media (max-width: 480px) {
  body {
    height: 100%;
  }

  // Starter
  .starter__img {
    width: 90%;
  }

  // Categories
  .categories {
    .categories__icons {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 30px;

      .categories__box {
        width: 140px;
        height: 140px;
        font-size: 12px;
        background-size: 80px auto;
      }
    }

    .categories__list {
      display: flex;
      flex-direction: column;
    }
  }

  // Questions
  .questions {
    .questions__text {
      h2 {
        font-size: 26px;
        width: 90%;
      }
    }

    .questions__btns {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .questions__answers {
        button {
          width: 250px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-size: 16px;
            width: 85%;
          }
        }
      }
    }
  }

  // Footer
  footer {
    align-items: center;
    padding: 0;
    padding: 20px;

    #developed {
      font-size: 10px;
    }

    .footer__info {
      font-size: 10px;

      #info {
        margin-right: 5px;
      }
    }
  }

  // modal
  .modal-box {
    padding: 9px;
    width: 75%;
    height: 70%;
    overflow-y: scroll;
  }
}
