@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

// Nav
nav {
  background-color: $dark-blue;
}

// Starter
.starter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
  background-color: $dark-blue;

  h2 {
    color: $white;
    font-size: 40px;
  }
}

.starter__img {
  // border: 1px solid red;
  width: 500px;
  height: auto;
  background: rgba($purple, 0.3);
  border-radius: 100px / 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  img {
    width: 200px;
    height: auto;
  }
}

.starter--btn {
  font-size: 20px;
  background-color: $cyan;
  border-radius: 18px;
  padding: 5px 20px;

  a {
    text-decoration: none;
    color: $dark-blue;
  }
}

// -----------------

._categories {
  border: 2px solid red;
}

.answer--btn {
  background-color: $light-grey;
}

.correct--btn {
  background-color: $green;
}

.wrong--btn {
  background-color: $red;
}

// Loader

.loader {
  color: #000;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
// ----------------------

/* Footer styling */
footer {
  font-size: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: $dark-blue;

  #developed {
    color: $white;

    span {
      color: $cyan;
    }
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5%;

    #info {
      font-size: 16px;
      background-color: #007bff;
      color: $white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #info:hover {
      background-color: #0056b3;
    }
  }
}

/* Modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: $white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-box h2 {
  margin-top: 0;
}

.modal-box p {
  margin: 10px 0;
}

.close-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #a71d2a;
}
